:root{
  --color-negro : #000000;
  --color-blanco:  #fff;
  --color-gris: #707070;
  --color-naranja: #ff721b;
  --color-verde : #00D010;
  --color-rojo : #FF0000


}

body {
  background-image: url('asset/fondo.png'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la URL de tu imagen */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Puedes ajustar el nivel de opacidad ajustando el valor alfa (0.5 en este caso) */
  z-index: -1; /* Asegura que el fondo oscuro esté detrás del contenido */
}

.logocarga{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-blanco);
  padding: 5rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login form button{
  color: var(--color-blanco);
  margin: 0.5rem;
  padding: 0.5rem 2rem;
  background-color: var(--color-naranja);
  border: none;
  border-radius: 3.5rem;
}

.login form input{
  width: 40rem;
  border-radius: 3rem;
  padding: 0.2rem;
}

.login form label{
  display: flex;
  justify-content: flex-start;
  
  width: 100%;
}