:root{
  --color-negro : #000000;
  --color-blanco:  #fff;
  --color-gris: #707070;
  --color-naranja: #ff721b;
  --color-verde : #00D010;
  --color-rojo : #FF0000
}
@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('./asset/MYRIADPRO-REGULAR.woff') format('woff');
  }

*{
  font-family:'Myriad Pro Regular';font-weight:normal;
}

body {
  background-image: url('asset/fondo.png'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: -1; 
}

.logocarga{
  position: absolute;
  animation: parpadeo 5s infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-blanco);
  padding: 5rem;
  border-radius: 3rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  animation: fadeIn 1s;
}

.login form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.login form button{
  color: var(--color-blanco);
  margin: 0.5rem;
  padding: 0.5rem 2rem;
  background-color: var(--color-naranja);
  border: none;
  border-radius: 3.5rem;
}

.login form input{
  width: 100%;
  border: var(--color-gris) 1px solid;
  border-radius: 3rem;
  padding: 0.5rem;
  opacity: 1;
}

.login form label{
  display: flex;
  justify-content: flex-start;
  
  width: 100%;
}

.welcome{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-blanco);
  padding: 5rem;
  border-radius: 3rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  animation: fadeIn 3s;
}

.redondear{
  border-radius: 50%;
}





  


@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.ayudabg{
  color: white;
}

.heading {
  font-size: 23px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.accordion {
  list-style: none;
}

.accordion_item {
  border-top: 1px solid #FF721B;
}

.button {
  font-size: 16px;
  background-color: #FF721B;
  color: #fff;
  text-align: left;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8px;
  cursor: pointer;
  border: none;
}

.control {
  font-size: 20px;
}

.answer {
  background-color: #f7f7f7;
  padding: 20px;
  color: black;
}

.accordion_item.active .button {
  background-color: #FF721B;
}

.answer_wrapper {
  height: 0;
  overflow: hidden;
}
.answer_wrapper.open {
  height: auto;
}